node_modules
dist
data
.git
.env*
**/*.auth.json
*.log
contracts
mnt-c-data-dev-apps-funded-app-contracts-funded-fee-router
secrets
secret
credentials
**/*.key
**/*.pem
**/*keypair*.json
**/*.backup
**/*.dump
